# Pyrogram Core
pyrogram
TGCrypto

# Database
motor
umongo
marshmallow
pymongo  # <-- প্রধান পরিবর্তনটি এখানে করা হয়েছে

# Web Server
aiohttp
Jinja2

# Utilities
requests
bs4
imdbpy
psutil
humanize

# Text Matching
fuzzywuzzy
python-Levenshtein
